<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Americanas</title>
    <link href="../css/alexsandro-style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/checkout.css">
</head>

<body>
    <header class="header">
        <div class="container-principal">
            <div class="container">
                <div class="logo">
                    <a href="index.html"><img src="../images/LogoEnextBranco.png" alt="Logo Enext" /></a>
                </div>
                <div class="pesquisa-header">
                    <input type="text" id="text" placeholder="busque aqui seu produto" />
                    <button type="submit" id="buttonHeader"><i class="fa fa-search"></i></button>
                </div>
                <div class="login-header" id="login">
                    <a href="login.html" title="Olá, faça seu login" id="login-1">
                        <p class="paragrafoNone">Olá, faça seu login ou cadastre-se</p>
                    </a>
                </div>
                <div class="icone-header">
                    <a href="#"><img src="../images/iconeLoja.svg" alt="icone-Loja" /></a>
                    <a href="login.html"><img class="aumenta" src="../images/iconeCoração.svg"
                            alt="icone-Coração" /></a>
                    <a href="checkout.html"><img src="../images/cestoLoja.png" alt="cesto-Loja" /></a>

                </div>
            </div>
            <div class="pesquisaHeaderMobile">
                <input type="text" placeholder="busque aqui seu produto">
                <button><i class="fa fa-search"></i></button>
            </div>
            <nav>
                <div id="mySidebar" class="sidebar">
                    <h3>Compre por departamento</h3>
                    <hr>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                </div>

                <div id="main">
                    <button class="openbtn" onclick="openNav()">☰ </button>

            </nav>
            <div class="container-menu-header">
                <nav class="menu-header">
                    <ul id="sumir1">
                        <a href="#" class="informeCepNone" class="menuHeaderNone" title="informe seu CEP">
                            <li id="informeCep" class="informeCep">informe seu CEP</li>
                        </a>

                        </a>
                    </ul>
                </nav>
                <!-- Menu Mobile -->



                <div class="menu-header-baixo">
                    <nav class="menu-header-baixo-nav">
                        <ul class="menu-dropdow">
                            <li class="menu-afastar"><a href="#">Compre por departamento</a>
                                <ul>
                                    <li class="itens">
                                        <a href="#">Mercado</a>


                                    </li>
                                </ul>
                            </li>
                            <a href="#">
                                <li>mercado</li>
                            </a>
                            <a href="#">
                                <li>celulares</li>
                            </a>
                            <a href="#">
                                <li>brinquedos</li>
                            </a>
                            <a href="#">
                                <li>móveis</li>
                            </a>
                            <a href="#">
                                <li>tv e home theater</li>
                            </a>
                            <a href="#">
                                <li>beleza e perfumaria</li>
                            </a>
                            <a href="#">
                                <li>notebook</li>
                            </a>
                            <a href="#">
                                <li>eletrodoméstico</li>
                            </a>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="informeEnderecoMobile">
                <a href="#" title="informe seu CEP">
                    <p>informe seu CEP</p>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="container-checkout">
            <h3>O carrinho esta vazio</h3>
            <p>Você não tem itens no seu carrinho.</p>
            <p>clique,<a href="index.html">aqui</a> para continuar comprando</p>
        </div>
        <div class="banner-final">
            <div class="container-banner">
                <div class="container-texto">
                    <h3>Fique por dentro!</h3>
                    <p>Cadastre-se para ficar por dentro das novidades
                        e ganhe 15% de desconto na sua primeira compra em produtos
                        não promocionados.
                    </p>
                </div>
                <div class="container-input">
                    <input type="text" id="text" placeholder="Nome">
                    <input type="email" id="imail" placeholder="E-mail">
                    <button type="submit">Cadastrar</button>
                </div>
            </div>

        </div>
        <div id=topo-main>
            <div class="topo-main-text">
                <a href="#">voltar ao inicio</a>
            </div>
        </div>
    </main>


    <footer class="footer">
        <div class="container-footer">
            <div class="atendimento-sac h3-padrao">
                <h3>Atendimento Sac</h3>
                <span>Loja Virtual: (11) 4578-9087</span>
                <span>loja Física: (0800 740-8289</span>
            </div>
            <div class="inicie-uma-conversa h3-padrao">
                <h3>Inicie uma conversa</h3>
                <a href="#">Clique aqui para abrir o chat</a>
            </div>
            <div class="envie-um-email h3-padrao">
                <h3>Envie uma conversa</h3>
                <a href="#">clique aqui</a>
            </div>
            <div class="troca-e-devolução h3-padrao">
                <h3>troca e devolução</h3>
                <a href="#">clique aqui</a>
            </div>
        </div>
        <hr class="novo-hr">
        <div class="container-footer-1">
            <div class="container-logo-footer alterandoH3">
                <h3>Enext</h3>
                <ul>
                    <a href="https://www.instagram.com/?hl=es">
                        <li><img src="../images/iconeInstagram.png" alt="icone Instagram"></li>
                    </a>
                    <a href="https://www.linkedin.com/login/pt">
                        <li><img src="../images/iconeLinkedin.png" alt="icone Linkedin"></li>
                    </a>
                    <a href="https://es-la.facebook.com/">
                        <li><img src="../images/iconeFacebook.png" alt="icone Facebook"></li>
                    </a>
                </ul>
                <ul class="icone-vtex-footer iconeVtexSumir">
                    <li><img src="../images/logoEnextPreto.jpg" alt="logo Enext Footer"></li>
                    <li><img src="../images/logoVtex.png"></li>
                </ul>
            </div>
            <div class="useEnext1 alterandoH3">

                <ul class="useEnext">
                    <li class="ulUseEnext">
                        <h3> Use Enext</h3>

                        <ul>
                            <a href="">
                                <li>feminino</li>
                            </a>
                            <a href="">
                                <li>masculino</li>
                            </a>
                            <a href="">
                                <li>Infantil</li>
                            </a>
                            <a href="">
                                <li>plus Size</li>
                            </a>
                            <a href="">
                                <li>lançamentos</li>
                            </a>
                            <a href="">
                                <li>outlet</li>
                            </a>
                            <a href="">
                                <li>Black Friday</li>
                            </a>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="intitucional alterandoH3">
                <ul class="useEnext">
                    <li class="ulUseEnext">
                        <h3>Institucional</h3>

                        <ul>
                            <a href="">
                                <li>feminino</li>
                            </a>
                            <a href="">
                                <li>masculino</li>
                            </a>
                            <a href="">
                                <li>Infantil</li>
                            </a>
                            <a href="">
                                <li>plus Size</li>
                            </a>
                            <a href="">
                                <li>lançamentos</li>
                            </a>
                            <a href="">
                                <li>outlet</li>
                            </a>
                            <a href="">
                                <li>Black Friday</li>
                            </a>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="duvidas alterandoH3">
                <ul class="useEnext">
                    <li class="ulUseEnext">
                        <h3>Dúvidas</h3>

                        <ul>
                            <a href="">
                                <li>feminino</li>
                            </a>
                            <a href="">
                                <li>masculino</li>
                            </a>
                            <a href="">
                                <li>Infantil</li>
                            </a>
                            <a href="">
                                <li>plus Size</li>
                            </a>
                            <a href="">
                                <li>lançamentos</li>
                            </a>
                            <a href="">
                                <li>outlet</li>
                            </a>
                            <a href="">
                                <li>Black Friday</li>
                            </a>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="pagamento alterandoH3">
                <h3>Pagamento</h3>
                <ul>
                    <a href="#">
                        <li>
                            <img src="../images/iconePagamentoElo.png" alt="Pagamento Elo">
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <img src="../images/iconePagamentoVisa.png" alt="Pagamento Visa">
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <img src="../images/iconePagamentoMasterCard.png" alt="pagamento MasterCard">
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <img src="../images/iconePagamentoHipercard.png" alt="Pagamento Hipercard">
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <img src="../images/iconePagamentoPayPal.png" alt="Pagamento PayPal">
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <img src="../images/iconePagamentoPix.png" alt="Pagamento Pix">
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <img src="../images/iconePagamentoBoleto.png" alt="Pagamento Boleto">
                        </li>
                    </a>
                </ul>
            </div>
            <div>

            </div>
        </div>
    </footer>







    <script src="../js/script.js">

    </script>


</body>


</html>